
@{
    Layout = "_Layout";
}

<div>
    <h1>Welcome User!</h1>
</div>

<form>
    <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
        <label for="ItemSelect">Catalog</label>
        <select class="form-control" id="ItemSelect">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div>
        Price: $0.00
    </div>
    <div class="form-group">
        <label for="ShipSelect">Shipping Method</label>
        <select class="form-control" id="ShipSelect">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div>
        Shipping Cost
    </div>
    <div>
        Tax (HST 13%): $0.00
    </div>
    <div>
        Total Price: $0.00
    </div>

</form>
