
@{
    ViewData["Title"] = "CheckEmailForm";
    Layout = "_formLayout";
}

<div class="display-4 text-center">Reset Password</div>
<form asp-action="CheckEmailForm" method="post" class="form-block border bg-grey">
    <div class="form-group">
        <label for="_email">Email</label>
        <input class="form-control" type="email" name="_email" placeholder="Email Address" required />
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="text-danger small">@ViewBag.ErrorMessage</div>
        }
    </div>
    <div class="text-center">
        <button class="btn btn-info btn-block" type="submit">Check Email</button>
    </div>
</form>