
@{
    ViewData["Title"] = "forgot password";
    Layout = "_formLayout";
}

<div class="display-4 text-center">Forgot Password</div>
<div class="vpad-sm"></div>
<form asp-action="ForgotPasswordForm" method="post" class="form-block border bg-grey">
    <p class="lead text-center">Let's start with your email!</p>
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email" name="email" placeholder="Email Address" />
    </div>
    <div class="text-center">
        <button class="btn btn-info btn-block" type="submit">Check Email</button>
    </div>
</form>

