@model Credentials
@{
    ViewData["Title"] = "signin";
    Layout = "_formLayout";
}

<form asp-action="LoginForm" method="post" class="form-block border bg-grey">
    <h1 class="display-4 text-center">Login</h1>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input class="form-control" type="email" asp-for="Email" placeholder="Email Address" />
        <span class="text-danger small" asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input class="form-control" type="password" asp-for="Password" placeholder="Password" />
        <span class="text-danger small" asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <a class="text-info" asp-controller="ResetPassword" asp-action="CheckEmailForm">Forgot Password</a><br />
        <a class="text-info" asp-controller="Signup" asp-action="SignupForm">Not a member already? Sign up!</a>
    </div>
    <div class="text-center">
        <button class="btn btn-info btn-block" type="submit">Login</button>
    </div>
</form>
