
@{
    ViewData["Title"] = "NotLoggedIn";
    Layout = "_formLayout";
}

    <div class="form-block bg-grey text-center">
        <div class="display-4 text-center mb-3">You are not logged in</div>
        <div class="row">
            <div class="col">
                <button class="btn btn-block btn-info">Login</button>
            </div>
            <div class="col">
                <button class="btn btn-block btn-info">Register</button>
            </div>
        </div>
    </div>


