@model IEnumerable<FinancialEnterpriseGenie.Models.Receipt>
@{
    ViewData["Title"] = "All Receipts";
    Layout = "_Layout";
}

<h2>
    Receipts
</h2>

@foreach (var receipt in Model)
{
    <p>Order: @receipt.Id</p>
}
